n8n/workflows/04_generate_invoice_pdf.json
{
  "name": "04 · PDF generieren (Rechnung + Lieferschein)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-docs",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d4e5f6a7-0004-0004-0004-000000000001",
      "name": "Webhook: Order-ID empfangen",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "generate-docs"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  o.order_id,\n  o.order_date,\n  o.buyer_name,\n  o.buyer_street,\n  o.buyer_city,\n  o.buyer_zip,\n  o.buyer_country,\n  o.items_json,\n  o.subtotal,\n  o.shipping_cost,\n  o.total,\n  o.currency,\n  o.invoice_number,\n  o.tracking_number,\n  o.carrier\nFROM orders\nWHERE order_id = '{{$json.body.order_id}}'\nLIMIT 1;",
        "options": {}
      },
      "id": "d4e5f6a7-0004-0004-0004-000000000002",
      "name": "Order aus DB holen",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 300],
      "credentials": {
        "postgres": { "id": "POSTGRES_CREDENTIAL_ID", "name": "orderdb" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Seller-Stammdaten (einmalig pflegen, kommen nicht aus der DB)\n// Anpassen!\nconst SELLER = {\n  name:            \"Jasper Büsch\",\n  business_name:   \"Buschi Creations\",\n  street:          \"Musterstraße 1\",\n  zip:             \"80331\",\n  city:            \"München\",\n  country:         \"Deutschland\",\n  email:           \"shop@buschi-creations.de\",\n  iban:            \"DE89 3704 0044 0532 0130 00\",\n  bank_name:       \"Commerzbank\",\n  tax_id:          \"123/456/78901\",\n  kleinunternehmer: true,\n};\n\nconst o = $input.item.json;\nconst items = JSON.parse(o.items_json ?? '[]');\n\n// Artikel für API formatieren\nconst lineItems = items.map((it, i) => ({\n  pos:        i + 1,\n  description: it.title,\n  quantity:    it.quantity,\n  unit_price:  it.price,\n  total:       it.price * it.quantity,\n}));\n\nconst buyer = {\n  name:    o.buyer_name,\n  street:  o.buyer_street,\n  zip:     o.buyer_zip,\n  city:    o.buyer_city,\n  country: o.buyer_country,\n};\n\nconst invoiceDate = new Date(o.order_date)\n  .toLocaleDateString('de-DE', { day: '2-digit', month: '2-digit', year: 'numeric' });\n\nreturn {\n  json: {\n    // Rechnungsrequest\n    invoice_request: {\n      invoice_number: o.invoice_number,\n      invoice_date:   invoiceDate,\n      order_id:       o.order_id,\n      seller:         SELLER,\n      buyer,\n      items:          lineItems,\n      subtotal:       o.subtotal,\n      shipping_cost:  o.shipping_cost,\n      total:          o.total,\n      currency:       o.currency,\n      payment_note:   \"Bereits bezahlt via Etsy Payments\",\n    },\n    // Lieferscheinrequest\n    delivery_request: {\n      delivery_number: \"LS-\" + o.invoice_number,\n      date:            invoiceDate,\n      order_id:        o.order_id,\n      seller:          SELLER,\n      buyer,\n      items:           lineItems,\n      tracking_number: o.tracking_number,\n      carrier:         o.carrier,\n    },\n    order_id: o.order_id,\n  }\n};\n"
      },
      "id": "d4e5f6a7-0004-0004-0004-000000000003",
      "name": "Request-Bodies aufbauen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "http://typst-api:8080/invoice",
        "method": "POST",
        "sendBody": true,
        "contentType": "json",
        "body": "={{JSON.stringify($json.invoice_request)}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "invoice_pdf"
            }
          }
        }
      },
      "id": "d4e5f6a7-0004-0004-0004-000000000004",
      "name": "Rechnung generieren",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "url": "http://typst-api:8080/delivery-note",
        "method": "POST",
        "sendBody": true,
        "contentType": "json",
        "body": "={{JSON.stringify($('Request-Bodies aufbauen').item.json.delivery_request)}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "delivery_pdf"
            }
          }
        }
      },
      "id": "d4e5f6a7-0004-0004-0004-000000000005",
      "name": "Lieferschein generieren",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 380]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE orders\nSET invoice_path = '/pdfs/Rechnung_{{$('Request-Bodies aufbauen').item.json.order_id}}.pdf'\nWHERE order_id = '{{$('Request-Bodies aufbauen').item.json.order_id}}';",
        "options": {}
      },
      "id": "d4e5f6a7-0004-0004-0004-000000000006",
      "name": "invoice_path in DB speichern",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1120, 300],
      "credentials": {
        "postgres": { "id": "POSTGRES_CREDENTIAL_ID", "name": "orderdb" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"ok\", \"order_id\": \"{{$('Request-Bodies aufbauen').item.json.order_id}}\"}"
      },
      "id": "d4e5f6a7-0004-0004-0004-000000000007",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Webhook: Order-ID empfangen": {
      "main": [[{ "node": "Order aus DB holen", "type": "main", "index": 0 }]]
    },
    "Order aus DB holen": {
      "main": [[{ "node": "Request-Bodies aufbauen", "type": "main", "index": 0 }]]
    },
    "Request-Bodies aufbauen": {
      "main": [[
        { "node": "Rechnung generieren",    "type": "main", "index": 0 },
        { "node": "Lieferschein generieren", "type": "main", "index": 0 }
      ]]
    },
    "Rechnung generieren": {
      "main": [[{ "node": "invoice_path in DB speichern", "type": "main", "index": 0 }]]
    },
    "invoice_path in DB speichern": {
      "main": [[{ "node": "Webhook Response", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "d4e5f6a7-0004-0004-0004-000000000099",
  "tags": [{ "name": "pdf" }, { "name": "invoice" }, { "name": "typst" }]
}
